*{
    padding:0;
    margin:0;
    list-style: none;
}
html, body, .wrapper{
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.wrapper .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 80%;
}
.content{
    width: 100%;
    height:100%;
}
.item{
    width: 16%;
    height: 100%;
    background: #333;
    border-radius: 20px;
    overflow: hidden;
    /* 关闭图片 */
    transition: height 0.5s linear 0.5s, width 0.5s linear;
}

/* 点开图片 */
.wrapper-active .content .item{
    transition: height 0.5s linear, width 0.5s linear 0.5s; 
}
.item.active{
    width: 100%;
}
.wrapper-active .item:not(.active){
    height: 0%;
    width: 0%;
}
.item .inner{
    position: relative;
    width: 100%;
    height:100%;
    transition: transform 0.5s linear;
}
.item:nth-of-type(1) .inner{
    transition-delay: 0.1s;
}
.item:nth-of-type(2) .inner{
    transition-delay: 0.2s;
}
.item:nth-of-type(3) .inner{
    transition-delay: 0.3s;
}
.item:nth-of-type(4) .inner{
    transition-delay: 0.4s;
}
.item:nth-of-type(5) .inner{
    transition-delay: 0.5s;
}
.item:nth-of-type(6) .inner{
    transition-delay: 0.6s;
}
.init .item .inner{
    transform: translate3d(0, 100%, 0);
}
.item .inner .bg{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
.item:nth-of-type(1) .inner .bg {
    background-image: url('../img/1.jpg');
}
.item:nth-of-type(2) .inner .bg {
    background-image: url('../img/2.jpg');
}
.item:nth-of-type(3) .inner .bg{
    background-image: url('../img/3.jpg');
}
.item:nth-of-type(4) .inner .bg{
    background-image: url('../img/4.jpg');
}
.item:nth-of-type(5) .inner .bg{
    background-image: url('../img/5.jpg');
}
.item:nth-of-type(6) .inner .bg{
    background-image: url('../img/6.jpg');
}
.item .inner .title{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    /* 关闭图片时，文字1s后显示 */
    transition: opacity 0.2s linear 1s;
}
.item .inner .title h2{
    font-size: 16px;
    color: #fff;
}
/* 点开图片时，文字立即隐藏 */
.wrapper-active .item .title{
    opacity: 0;
    transition: opacity 0.2s linear;;
}
.item:hover .title h2{
    font-size: 24px;
    transition: font-size 0.2s linear;
}
.item:hover .bg{
    opacity: 1;
    transition: opacity 0.2s linear;
}
.item .inner .direction{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 30px;
    opacity: 0;
}
/* 点开图片时，bird close 1s后显示 */
.wrapper-active .item .inner .direction{
    opacity: 1;
    transition: opacity 0.5s linear 1s;
}
.item .inner .direction .header{
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 24px;
}
.item .inner .direction .close{
    position: absolute;
    right: 50px;
    color: #fff;
    width: 30px;
    height: 30px;
}
.active .inner .direction .close{
    transform: rotate(360deg);
    transition: transform 0.5s linear 1s;
}
.close:before, .close:after{
    content: '';
    position: absolute;
    top: 50%;
    width: 30px;
    height: 4px;
    margin-left: -2px;
    background: #fff;
}
.close:before{
    transform: rotate(45deg);
}
.close:after{
    transform: rotate(-45deg);
}


